/**
 * @name Fallout 4 Terminal
 * @author Bates#7075
 * @version 2.0.0
 * @source https://github.com/CommandCrafterHD/Fallout4TerminalTheme
 * @website https://commandcrafterhd.github.io/Fallout4TerminalTheme
 * @donate https://www.paypal.com/paypalme/floriancegledi
 * @patreon https://patreon.com/bates
 * @description A theme inspired by Fallout 4's terminals!
 * @authorId 137259132305539072
 * @invite 6qd3SkP6Ch
*/

@import url('https://commandcrafterhd.github.io/Fallout4TerminalTheme/mainRewrite.css');
/* ^ This is the main Import ^ DO NOT TOUCH. Without this, the theme won't load!!! */

@import url('https://commandcrafterhd.github.io/Fallout4TerminalTheme/css/crtEffect.css');
/* ^ This is the CRT effect. If you don't like it, remove or uncomment this line! ^ */

/* CUSTOMIZE COLORS IN HERE! */
:root {
  --rgb-highlight: 73, 186, 171; /* The main highlight color */
 --background:					url(https://github.com/PeanutCooki123/hjgfhjkgghk/blob/main/e702719b0ac28f3e4026a9cbc6de4f1f.gif);	/* general background image				*/
	--backgroundposition:			center;						/* default: center				(position of background - values: [center/top/right/bottom/left])				*/
	--backgroundsize:				cover;						/* default: cover				(sizefit of background - values: [cover/contain/auto])							*/
	--backgroundblur:				unset;						/* default: unset				(blur in px, only works when --background is set to an image)					*/
	
  --rgb-text: 99, 236, 218; /* The color (almost) all text should use */
  --rgb-close-button: 229, 69, 41; /* The main "close this" or "deny" color */
  --rgb-online-color: 6, 245, 155; /* The color used in the "online" user status symbol */
  --rgb-afk-color: 251, 151, 40; /* The color used in the "idle" user status symbol */
  --rgb-dnd-color: 229, 69, 41; /* The color used in the "do not disturb" user status symbol */
  --rgb-streaming-color: 188, 19, 254; /* The color used in the "streaming X" user status symbol */

  --transition-time: .3s; /* How fast animations added by the theme happen. Default is 0.3 seconds */

  --background-image: unset; /* To add an image, replace unset with url(https://www.YOUR-URL-HERE.com) */
  --background-position: center; /* Positions the background image */
  --background-size: cover; /* Scales the background image */
  --background-blur: 5px; /* Blurs the image which usually helps with readability of text infront of it */
  --background-brightness: 100%; /* Changes the background images brightness */
  
  --title-image: url("https://commandcrafterhd.github.io/Fallout4TerminalTheme/svg/title.svg"); /* The .svg file used for the "ROBCO Industries (TM) terminal" title */
  --title-image-repeat: no-repeat; /* If the title image should repeat */
  --title-image-size: cover; /* The size of the title image */
  --title-image-color: var(--highlight); /* The color used for the title image */
  --title-image-width: 240px; /* The width of the title image */
  --title-image-height: 14px; /* The height of the title image */
}
